In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm

In [2]:
df = sm.datasets.get_rdataset("Arthritis", "vcd").data

/Users/adeshkadambi/opt/anaconda3/lib/python3.7/site-packages/statsmodels/datasets/utils.py:192: FutureWarning: `item` has been deprecated and will be removed in a future version
  return dataset_meta["Title"].item()

In [3]:
df

    ID Treatment     Sex  Age Improved
0   57   Treated    Male   27     Some
1   46   Treated    Male   29     None
2   77   Treated    Male   30     None
3   17   Treated    Male   32   Marked
4   36   Treated    Male   46   Marked
..  ..       ...     ...  ...      ...
79  32   Placebo  Female   66     None
80  42   Placebo  Female   66     None
81  15   Placebo  Female   66     Some
82  71   Placebo  Female   68     Some
83   1   Placebo  Female   74   Marked

[84 rows x 5 columns]

In [4]:
tab = pd.crosstab(df['Treatment'], df['Improved'])

In [5]:
tab

Improved   Marked  None  Some
Treatment
Placebo         7    29     7
Treated        21    13     7

In [13]:
tab = tab.loc[:, ["None", "Some"]]
tab

Improved   None  Some
Treatment
Placebo      29     7
Treated      13     7

In [14]:
table = sm.stats.Table2x2(tab)

In [15]:
table.oddsratio

0.017241379310344827